@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #eee;
    padding: 32px 16px;
    gap: 32px;
    width: 375px;
    height: 600px;
    border-radius: 12px;
    border: 2px solid #777;
}

#display {
    background-color: #f8f8f8;
    width: 300px;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #777;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 24px;
    font-weight: bold;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 8px;
    justify-content: center;
}

#buttons > button {
    width: 69px;
    height: 69px;

    border-radius: 12px;
    border: 2px solid #777;
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
}

#buttons > #equal {
    width: 146px;
}

.number, #dot {
    background-color: #f8f8f8;
    color: black;
}

.operator {
    background-color: #363636;
    color: white;
}

#all-clear, #clear {
    background-color: #B91C1C;
    color: white;
}

#equal {
    background-color: #f59e0b;
    color: white;
}